{% extends 'base.html' %} {% load static %}


{% block content %}

<section>
    <div class="container mx-auto px-4 pb-16 pt-36 text-center">
        <div class="mx-auto max-w-3xl">
            <h1 class="text-4xl font-black tracking-tight text-primary sm:text-6xl">Our Services at SELMI Management Advisory</h1>
            <p class="mt-6 text-lg leading-8 text-gray-600">
                We offer a diverse range of comprehensive solutions designed to address your unique challenges and propel you towards success. With a commitment to excellence, innovation, and integrity, our services are tailored to meet the needs of businesses and individuals seeking transformative outcomes. Explore our array of services that cover various domains and expertise.
            </p>
        </div>
    </div>
</section>

<section class="">
    <div class="py-16 grid gap-12">
        <article class="grid gap-4 md:gap-8 lg:gap-12">
            <img src="{% static 'images/looking-financial-documents.jpg' %}" alt="" class="object-cover w-full h-full sm:aspect-video">
            <div class="grid md:content-center text-grey-700 sm:mx-auto max-w-3xl px-4">
                <h2 class="h3 text-primary text-center mb-2">1. Data Services</h2>
                <p class="text-center my-6">
                    Our Data Services arm is at the forefront of leveraging data to drive informed decisions and insights. Whether you're a startup looking to harness business intelligence or an established organization seeking advanced data analysis and machine learning solutions, we have the expertise to guide you.
                </p>
                <ol class="grid gap-8">
                    <li>
                        <h3 class="flex gap-4 font-semibold">
                            <span>1.</span>
                            <span>Business Intelligence</span>
                        </h3>
                        <p class="">
                            Turn raw data into actionable insights to inform strategic decisions.
                        </p>
                    </li>
                    <li>
                        <h3 class="flex gap-4 font-semibold">
                            <span>2.</span>
                            <span>Data Analysis</span>
                        </h3>
                        <p class="">
                            Deep dive into data to uncover trends, patterns, and opportunities.
                        </p>
                    </li>
                    <li>
                        <h3 class="flex gap-4 font-semibold">
                            <span>3.</span>
                            <span>Machine Learning</span>
                        </h3>
                        <p class="">
                            Implement cutting-edge machine learning techniques to predict outcomes and optimize processes.
                        </p>
                    </li>
                    <li>
                        <h3 class="flex gap-4 font-semibold">
                            <span>4.</span>
                            <span>Information Technology</span>
                        </h3>
                        <p class="">
                            From software development to hardware solutions, we provide comprehensive IT support.
                        </p>
                    </li>
                </ol>
            </div>

        </article>
        <article class="grid gap-4 md:gap-8 lg:gap-12">
            <img src="{% static 'images/computer-check-inventory.jpg' %}" alt="" class="object-cover w-full h-full sm:aspect-video">
            <div class="grid md:content-center text-grey-700 sm:mx-auto max-w-3xl px-4">
                <h2 class="h3 text-primary text-center mb-2">2. Civil Engineering Services</h2>
                <p class="text-center my-6">
                    Our Civil Engineering Services are built on a foundation of creativity, precision, and a commitment to turning visions into reality. Whether it's architectural plans, structural analysis, road designs, or construction projects, we are equipped to transform your ideas into tangible structures.
                </p>
                <ol class="grid gap-8">
                    <li>
                        <h3 class="flex gap-4 font-semibold">
                            <span>1.</span>
                            <span>Architectural Plans</span>
                        </h3>
                        <p class="">
                            Craft detailed architectural plans that balance aesthetics and functionality.
                        </p>
                    </li>
                    <li>
                        <h3 class="flex gap-4 font-semibold">
                            <span>2.</span>
                            <span>Structural Design & Analysis</span>
                        </h3>
                        <p class="">
                            Ensure the structural integrity of your projects through rigorous analysis.
                        </p>
                    </li>
                    <li>
                        <h3 class="flex gap-4 font-semibold">
                            <span>3.</span>
                            <span>Road Designs</span>
                        </h3>
                        <p class="">
                            Develop safe and efficient road designs that optimize traffic flow.
                        </p>
                    </li>
                    <li>
                        <h3 class="flex gap-4 font-semibold">
                            <span>4.</span>
                            <span>Buildings & Road Construction</span>
                        </h3>
                        <p class="">
                            Bring your construction projects to life with meticulous attention to detail.
                        </p>
                    </li>
                    <li>
                        <h3 class="flex gap-4 font-semibold">
                            <span>5.</span>
                            <span>Landscaping</span>
                        </h3>
                        <p class="">
                            Enhance the environment around your structures with thoughtful landscaping designs.
                        </p>
                    </li>
                </ol>
            </div>

        </article>
        <article class="grid gap-4 md:gap-8 lg:gap-12">
            <img src="{% static 'images/new-home-keys-plan-table-with-couple.jpg' %}" alt="" class="object-cover w-full h-full aspect-video object-bottom">
            <div class="grid md:content-center text-grey-700 sm:mx-auto max-w-3xl px-4">
                <h2 class="h3 text-primary text-center mb-2">3. Survey & Valuation of Property</h2>
                <p class="text-center my-6">
                    Accurate insights are essential when dealing with property. Our Survey & Valuation services provide you with a comprehensive understanding of property value and potential. Whether you're considering acquisitions, sales, or investments.
                </p>
                <ol class="grid gap-8">
                    <li>
                        <h3 class="flex gap-4 font-semibold">
                            <span>1.</span>
                            <span>Property Surveying</span>
                        </h3>
                        <p class="">
                            Thoroughly assess properties to provide accurate measurements and documentation.
                        </p>
                    </li>
                    <li>
                        <h3 class="flex gap-4 font-semibold">
                            <span>2.</span>
                            <span>Property Valuation</span>
                        </h3>
                        <p class="">
                            Determine the true worth of properties through meticulous analysis of market factors.
                        </p>
                    </li>
                </ol>
            </div>

        </article>
        <article class="grid gap-4 md:gap-8 lg:gap-12">
            <img src="{% static 'images/assembly-electrical.jpg' %}" alt="" class="object-cover w-full h-full sm:aspect-video">
            <div class="grid md:content-center text-grey-700 sm:mx-auto max-w-3xl px-4">
                <h2 class="h3 text-primary text-center mb-2">4. Motor Lines Installation</h2>
                <p class="text-center my-6">
                    Our expertise extends to the installation of intricate motor lines, where precision and functionality are paramount. With our technical know-how, we ensure seamless motor line installations that meet your operational needs.
                </p>
            </div>

        </article>
    </div>
</section>

<section class="py-16 bg-primary text-light">
    <div class="container">
        <h2 class="h3 text-white text-center">Committed to Your Success</h2>
        <p class="text-center my-4 max-w-2xl mx-auto">
            We are committed to being your partners on your journey to growth and success. Our team of experts is dedicated to understanding your specific needs and tailoring solutions that align with your goals. <br>
            Whether you're seeking to harness the power of data, embark on ambitious construction projects, or make informed property decisions, our services are designed to empower you. <br>
            Let's work together to turn challenges into opportunities and aspirations into achievements.
        </p>
        <ul class="grid gap-8 lg:grid-cols-3 lg:place-items-center lg:mt-8">
            <li class="flex gap-4">
                <!-- icon -->
                <div class="w-20 h-20 rounded-xl grid place-content-center bg-light">
                    <i class="fas fa-phone-volume text-primary text-3xl"></i>
                </div>
                <!-- text -->
                <div class="grid content-center gap-3">
                    <h3 class="text-lg text-lighter font-semibold">Call Us</h3>
                    <a href="tel:+256789872367">+256 789 872367</a>
                </div>
            </li>
            <li class="flex gap-4">
                <!-- icon -->
                <div class="w-20 h-20 rounded-xl grid place-content-center bg-light">
                    <i class="fas fa-envelope-open-text text-primary text-3xl"></i>
                </div>
                <!-- text -->
                <div class="grid content-center gap-3">
                    <h3 class="text-lg text-lighter font-semibold">Send Us an Email</h3>
                    <a href="mailto:contact@selmi.com">contact@selmi.com</a>
                </div>
            </li>
            <li class="flex gap-4">
                <!-- icon -->
                <div class="w-20 h-20 rounded-xl grid place-content-center bg-light">
                    <i class="fas fa-location-dot text-primary text-3xl"></i>
                </div>
                <!-- text -->
                <div class="grid content-center gap-3">
                    <h3 class="text-lg text-lighter font-semibold">Visit Us</h3>
                    <a href="#">Namanve Office Towers, 24</a>
                </div>
            </li>
        </ul>
    </div>
</section>



{% endblock content %}
