@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    // outline: 1px solid rgb(144, 144, 144);
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
}
body, html{
    max-width: 100%;
    overflow-x: hidden;
}

button{
    &.primary{
        @apply bg-primary-500 py-2 px-6 text-white uppercase rounded-full;
        &-outline{
            @apply outline outline-1 outline-primary-500 py-2 px-6 uppercase rounded-full transition-colors;
            &:hover{
                @apply bg-primary-500 text-white;
            }
        }
    }
    &.secondary{
        @apply bg-secondary-500 py-2 px-6 text-white uppercase rounded-full;
        &-outline{
            @apply outline outline-1 outline-secondary-500 py-2 px-6 uppercase rounded-full transition-colors;
            &:hover{
                @apply bg-secondary-500 text-white;
            }
        }
    }
    &.white{
        @apply bg-white py-2 px-6 uppercase rounded-full;
        &-outline{
            @apply outline outline-1 outline-white py-2 px-6 uppercase rounded-full transition-colors;
            &:hover{
                @apply bg-white text-primary-500;
            }
        }
    }
    &.slate{
        @apply bg-white py-2 px-6 uppercase rounded-full;
        &-outline{
            @apply outline outline-1 outline-slate-500 py-2 px-6 uppercase rounded-full transition-colors;
            &:hover{
                @apply bg-secondary-500 text-white outline-slate-100;
            }
        }
    }
}

.link{
    @apply text-secondary-500 font-medium
}

.lead{
    @apply text-lg;
}

.sec{
    @apply pt-32;
}

.container {
    @apply mx-auto px-4;
}

.img-fluid{
    @apply w-full h-full object-cover;
}

.head-{
    &1{
        @apply uppercase text-6xl font-extrabold;
        .thin{
            @apply text-6xl font-thin;
        }
    }
}

/*#region header */

.header-{
    &widgets {
        @apply gap-8;
    }

    &contact-widget {
        @apply flex content-center;

        .icon {
            @apply mr-2 grid content-center;

            i {
                @apply transform -rotate-12 text-6xl text-slate-600;
            }
        }

        .text {
            @apply grid content-center;

            h2 {
                @apply font-bold uppercase text-primary-500;
            }

            p {
                @apply text-gray-700
            }
        }
    }

    &social-widget {
        @apply grid grid-flow-col content-center justify-between gap-4;

        .social-icon {
            @apply text-2xl grid place-content-center rounded-full aspect-square text-white w-12 h-12;
        }
    }
}
/*#endregion*/


/*#region slider*/
#slides{
    @apply relative min-h-[500px] max-h-[85vh];
}
.slide{
    @apply absolute w-full h-full;
    z-index: 20;
    left: 0;
    // scale: 0.6;
    // clip-path: polygon(100% 0%, 100% 0%, 100% 100%, 100% 100%);
    transition: all .7s ease-in-out;
    .content{
        @apply absolute top-0 left-0 w-full h-full grid place-content-center;
    }
    .width-control {
        @apply text-white text-center;
        h2{
            @apply text-6xl mb-4;
            filter: drop-shadow(4px 4px 5px black);
        }
        .fade-in{
            opacity: 0;
            scale: 0.1;
        }
    }
}
/*#endregion*/

/*#region services*/
.service{
    &-card{
        @apply flex content-center;
        .icon{
            @apply p-4;
            i{
                @apply text-6xl text-secondary-500;
            }
        }
        .grid{
            @apply gap-3;
            h3{
                @apply font-bold uppercase mt-0;
            }
            p{
                @apply text-slate-900;
            }
        }
    }
}
/*#endregion*/

/*#region our impact*/
@media (min-width: 768px){
    .slate-primary {
        background: rgb(255, 255, 255);
        background: linear-gradient(90deg, rgb(241 245 249) 0%, rgb(241 245 249) 50%, rgb(24, 25, 25) 50%, rgb(24, 25, 25) 100%);
    }
}


/*#endregion*/

/*#region scroll anims*/

/*#endregion */

